[2018-05-15 16:20] SqueezedLight opened #2 "CSVParse() and batch() seem not to work anymore"
Hi,
first of all, thanks for this great library. Worked absolutely great up to now!

We use the following code:
[code]

It seems `batch` and `CSVParse` do not work together anymore. If we remove `batch` the `console.log` is called. If not, no error occurs, but the `console.log` statement within the `map` is never executed. Any ideas? I checked the last commits, but couldn't find anything suspiciou

[2018-05-15 16:38] MichalCz commented on #2
It may be connected to a couple changes in pause/resume and around each... I'll check.

[2018-05-15 19:30] MichalCz commented on #2
Confirmed - the issue seems to be introduced in 4.10 with the `into` method which seem to:

1. not forward errors
2. not end the stream

The new method was used to improve `remap`, `flatMap` and `flatten` methods.

[2018-05-15 21:33] MichalCz commented on #2
Please update to v4.12.3 - published in npm.

If you be so kind, please also confirm the fix.

[2018-05-16 06:08] SqueezedLight commented on #2
Wow, that one was quick! It works again.
Thank you very much!

[2018-09-20 11:05] KeKs0r opened #10 "Distribute throws EADDRNOTAVAIL"
Hi,

I stumbled upon your library and have to admit I really like it. A few more examples and more documentation would help a lot (willing to help her). But conceptually really great.

While playing around with it, I wanted to reduce the time, my processing takes in order to test more variations on my logic. When using the distribute function, I am getting the following error:

[code]

My Pipeline

[2018-09-20 12:03] MichalCz commented on #10
Interesting, can you also add some info on your system?

It would be nice to see output from `ip a` and some general info. I'll look into this and try to reproduce.

[2018-09-20 12:42] KeKs0r commented on #10
I am running osx.
I tried to run my script on node 10.6.0 as well as 8.11.3.
What exactly do you mean with `ip a`?

[2018-09-20 15:55] greenkeeper[bot] opened #11 "An in-range update of nodeunit-tape-compat is breaking the build 🚨"
## The devDependency [nodeunit-tape-compat](https://github.com/signicode/nodeunit-tape-compat) was updated from `1.1.3` to `1.1.4`.

🚨 [View failing branch](https://github.com/signicode/scramjet/compare/master...signicode:greenkeeper%2Fnodeunit-tape-compat-1.1.4).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

nodeunit-ta

[2018-09-20 17:56] MichalCz commented on #10
Hi,

Sadly we don't have a mac machine in an automated pipeline - that's one of the things to set up for us...

I think I won't be able to check this before Monday. I'll update with my findings...

[2018-09-20 20:15] KeKs0r commented on #10
Thanks a lot for looking into this. If i can help by providing some input or test something. Let me know.

[2018-09-21 13:30] MichalCz commented on #10
Well the reason for this is a different network stack or some permissions that doesn't allow me to use the whole 127.0.0.0/8 network.

In this case it's just a matter of identifying that condition and using a narrower range of ip's.

If you could change the line:
https://github.com/signicode/scramjet/blob/master/lib/stream-worker.js#L42

to one of these:

[code]

and tell me which one helped.

The

[2018-09-21 18:36] MichalCz commented on #11
Fixed the underlying problem.

[2018-09-21 18:36] #11 closed

[2018-09-21 22:36] KeKs0r commented on #10
I tried all options and it seemed that only the last one is working:
[code]
But when running I am getting this error:
[code]

[2018-09-21 22:42] KeKs0r opened #12 "Question: Approach to streamed grouping (when data is sorted)"
Hey,

I am slowly getting warm with scramjet and trying some more advanced scenarios. I want to do a groupBy. I understand that in order to really group, all keys need to be known. I did take care of sorting beforehand. I already found a almost working solution with `remap`:

[code]

The approach is to collect events for the same group and as soon as the group changes emit all collected events. Th

[2018-09-22 18:35] MichalCz commented on #12
That's expected behavior since the last group has no "item" after the last one to be emitted on.

You could emit the array before the whole group, since it will be carried to toArray() as a reference and the remapped stream will not end before all chunks from the original are remapped. But that could cause some strange behavior with other operations in the same stream.

What I would suggest is to

[2018-09-23 12:34] KeKs0r commented on #12
Thanks a lot. This worked. I wasn't aware of how those internals worked. For reference, here my final version:

[code]

[2018-09-23 13:59] MichalCz commented on #12
Cool.

The internals need some extra docs, but also a major refactor. It's still not as efficient as it could be.

[2018-09-23 14:00] MichalCz commented on #12
Cool.

The internals need some extra docs, but also a major refactor. It's still not as efficient as it could be.

[2018-09-30 13:52] MichalCz commented on #10
@KeKs0r can you try the new version and confirm it's fixed now?

[2018-10-04 14:02] SqueezedLight commented on #2
@MichalCz it seems the issue happens again. Same behaviour. With `batch()` it doesn't work, without `batch` it works.
Do you have any clue, why this happens again?

Thanks a lot!

[2018-10-04 14:27] MichalCz commented on #2
Hi @SqueezedLight.

Which version do you have currently installed?

Also we may need to drill into your use case with batch, the current `batch` mtehod  is tested in two cases:

* [Synchronous batch](https://github.com/signicode/scramjet/blob/master/samples/data-stream-batch.js#L12) where the data is available more or less upfront.
* [Asynchronous batch](https://github.com/signicode/scramjet/blob/

[2018-10-04 15:13] SqueezedLight commented on #2
Hi @MichalCz,
i currently use v4.18.12.

I use it asynchronously (read a file stream from a csv on disk).
[code]

I will try to investigate more.

[2018-10-04 15:28] MichalCz commented on #2
How many lines are in the file btw?

[2018-10-04 15:31] MichalCz commented on #2
...and... perhaps you could add the following lines at the end of your pipeline?

[code]

And, if that works I'll share the "why's"

[2018-10-04 15:31] SqueezedLight commented on #2
less than 500.  I tried with multiple file between 70-200 lines

[2018-10-04 15:37] SqueezedLight commented on #2
Like this?

[code]

Seems not to change the behaviour...

[2018-10-04 16:43] MichalCz commented on #2
Ok. Confirmed. I would say that once again the last batch does not get emitted...

[2018-10-04 17:44] MichalCz commented on #2
Ok. It seems that your case uses two flush functions that get overwritten and they supposed to get chained.

Please expect a fix approximately on Monday.

In mean time, try to add `.tap()` after CSVParse as a workaround.

[2018-10-04 18:02] SqueezedLight commented on #2
That would be brilliant! Thanks a lot!

Btw, `.tap()` seems to have no effect...

[2018-10-08 16:52] SqueezedLight commented on #2
Hi @MichalCz any update on this one? If you don't find time, would you elaborate a little on fixing the bug? I can try to contribute a bug fix.

[2018-10-08 17:01] greenkeeper[bot] opened #13 "An in-range update of scramjet-core is breaking the build 🚨"
## The dependency [scramjet-core](https://github.com/signicode/scramjet-core) was updated from `4.16.13` to `4.16.14`.

🚨 [View failing branch](https://github.com/signicode/scramjet/compare/master...signicode:greenkeeper%2Fscramjet-core-4.16.14).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

scramjet-core is a direct dep

[2018-10-08 19:11] MichalCz commented on #2
Hi,

Please test with a new version. I did include your specific case in the test scenarios (see `samples/data-stream-batch.js`).

I'd be happy for a contribution, but I'm starting work on version 5.0.0 so help and testing of that would be very helpful. :)

[2018-10-08 19:26] SqueezedLight commented on #2
YES! This one works!
Thank you so much. I will try to help/test where i can ;) I guess we can close here again.

[2018-10-08 19:26] #2 closed

[2018-10-08 19:43] MichalCz commented on #2
And hopefully with that test - for the last time. :)

[2018-10-08 19:44] #10 closed

[2018-11-05 05:27] Extarys opened #15 "Question: Skip first CSV line"
My current Scramjet code look something like this
[code]

How can I skip the first line in the CSV?
I've been reading for 30 minutes but I didn't find anything.

Thanks!

[2018-11-05 06:36] Extarys opened #16 "PostgreSQL doesn't like scramjet"
I have multiple CSV files that I'd like to import in PostgreSQL. Here is my code:

[code]

If I comment out the postgresql part where the insert happen, the CSV is read to the end. But with postgresql I see the vague `[nodemon] app crashed - waiting for file changes before starting...`

Is there an option of some kind I should be aware of or some limitation to make this compatible ?

[2018-11-05 10:37] MichalCz commented on #15
Have you taken a look at the `shift` method? If you put it after `lines` it should do what you want. There's also a csv parsing method on `StringStream` called `CSVParse` - that may be useful.

As to the docs, we're working on a new website and, subsequently, on better documentation. Would you be so kind to review and give us some tips where we should start improvements?

[2018-11-05 10:47] MichalCz commented on #16
Hi,

I don't think this may be due to incompatibility of some sort (and privately I can tell you that scramjet loves postgres - maybe they just have a slightly worse day ;) ).

I'll check your code a little later and get back to you.

[2018-11-05 18:09] MichalCz commented on #16
@Extarys, would you be so kind and add this line in `each` and post the output here:

[code]

Looking at your second question I think this may be due to attempting to save `NaN`, but I'm unsure why you don't see an error there.

[2018-11-05 18:21] Extarys commented on #16
@MichalCz :stuck_out_tongue_closed_eyes: maybe you're righ.
[code]

I'm still testing on my side if it's a human error or if it's postgres that "cannot handle" ti or whatever.

[2018-11-05 18:39] Extarys commented on #15
I will! I'm glad you are working on a new documentation website! :smile:

[2018-11-05 18:39] #15 closed

[2018-11-05 18:51] MichalCz commented on #15
Interesting... and what did you think it did? Maybe I'd reword the description somehow?

[2018-11-05 19:05] Extarys commented on #15
I read it "wrong". I read the `shift` function from the `StringStream` object.

`stringStream.shift(bytes, func)`

I was unsure on how to calculate the number of bytes I wanted remove.

Since I started with `StringStream` as you can see on my other issue, I thought id would override the `shift` function from DataStream and I wouldn't be able to remove the entire line. I got confused.

[2018-11-05 19:09] MichalCz commented on #16
I'm not sure if this was your question or not, but very similar [question about writing geo data to postgres](https://stackoverflow.com/a/52995931/3790725) is there.

Please leave this issue open, as I would expect that your code would need to show some message...

Now if you could do another thing (or two)?

* if the `pg` property is a pool, can you use `pool..query` method directly instead of cr

[2018-11-05 19:54] Extarys commented on #16
Those are actually great ideas. Annnnd, I'm the dude from the SO question in fact. :stuck_out_tongue:
`const client = await this.pg.connect()` is already a pool, using fastify-pg plugin. I just looked at the source code to make sure it was returning a pool.

I finally got it working by defining postgres connection at the beginning and I removed the Promise for now for testing.

For future referenc

[2018-11-05 19:54] #16 closed

[2018-11-05 21:15] MichalCz commented on #15
You're right, that doesn't make much sense if you look from this perspective. `DataStream..shift` operates on whole chunks (objects) - so that's how the line is removed when used after `parse`.

Ok. I see the point - this needs a major rethink - perhaps `shiftBytes` should be other than `shift` for compatibility with `DataStream`.

We need to consider changing that in `v5` - of course a backwards

[2018-11-06 01:10] Extarys commented on #15
Oh `shiftBytes` would be a great idea!

Hmm may I ask, in my logic if I do the following, no lines are added to the database, in fact the `console.log` doesn't even trigger. But if I remove the `.shift` function it works and all lines are added including the header and...an invisible last line that doesn't appear in the file (may be something I'll look later)

Same code:
[code]

Total output: `Rea

[2018-11-06 17:31] Extarys commented on #15
Duh, thanks

[2018-11-06 18:04] Extarys opened #18 "Last line of CSV makes node crash?"
It's me again.

After playing with multiple CSV files, it seems that the last line doesn't get inserted.

I'm outputing the line in the `.each` loop.
On a CSV file containing the list of countries, all values of the invisible last line are undefined or NaN.
[code]
I opened the file, there is no last line (the code was published in another issue here). I receive 'Read entire file' at the end since

[2018-11-06 18:58] Extarys commented on #15
Hmmm seems that after some tests this only skip the first character of the file.. :confused:

[2018-11-06 19:23] Extarys commented on #18
Related to #15 if I don't use shift I go to line 291 and then node crashes (File have 292 lines)
When using shift like you described, I can only go to line 239 then node crashes.

[2018-11-06 19:56] MichalCz commented on #18
@Extarys how about we try to create a test repo for your case? Can you push a sample of your file and the code (just the breaking part) there? It'd be easier to pin-point the issue there.

I'm still feeling that there should be some message on what caused the crash.

[2018-11-09 16:35] devinivy opened #25 "maxParallel stalls when items are processed out of order"
Say I would like to process some SQL tables two at a time.  Each table is mapped `into()` a stream, and each of those streams will take variable time to complete.  If table B ends before table A, then table C wont start processing until A also completes.  Here's some code!

[code]

[2018-11-11 19:47] MichalCz commented on #18
@Extarys, please install `scramjet=^4.18.17`. We may see some error messages that may have been previously muted.

[2018-11-22 22:46] #18 closed

[2018-11-29 20:32] MichalCz opened #21 "Add a `pipeline` method to pass errors on non-scramjet streams."
As raised at [openaq-fetch#561](https://github.com/openaq/openaq-fetch/issues/561) we're missing out on [a part of streams implementation in node v10 - pipeline](https://nodejs.org/api/stream.html#stream_stream_pipeline_streams_callback).

The idea here is to create a number of operations before we kick scramjet transforms in, especially pass the data through a number of Transform streams.

The co

[2018-11-29 20:34] MichalCz opened #22 "Allow generators and transforms in `use` and `pull`"
`DataStream..use` and `..pull` should allow using of generators and transforms as arguments.

First let's identify the methods that should allow those.

[2018-11-29 21:21] MichalCz opened #23 "Until and while may cause an error in the unpiped stream."
Consider this more a use case than a problem (as it is outside of `scramjet`).

Let's consider code:

[code]

What we do is unpipe the response, but that is not closed by `request` so how do we handle this?

Mention: [openaq-fetch#547](https://github.com/openaq/openaq-fetch/issues/547)

[2018-12-05 21:35] MichalCz opened #24 "maxParallel stalls when items are processed out of order"
Copied from scramjet, raised there by @devinivy:

Say I would like to process some SQL tables two at a time.  Each table is mapped `into()` a stream, and each of those streams will take variable time to complete.  If table B ends before table A, then table C wont start processing until A also completes.  Here's some code!

[code]

[2018-12-05 21:37] MichalCz commented on #24
Duplicate, ignore!

[2018-12-05 21:37] #24 closed

[2018-12-05 21:43] MichalCz commented on #25
Hi @devinivy,

I moved this issue here. I'm making a number of small changes for a new minor release (that I promised won't happen before v5 ;) ).

So let's make it clear what we need here:

The output could be:

[code]

Is that your expected outcome?

[2018-12-05 21:46] MichalCz commented on #21
Initial version comitted to develop (I may regret this).

Tests missing, checks missing.

[2018-12-06 05:00] devinivy commented on #25
That sounds and looks right to me!

[2018-12-06 06:58] MichalCz commented on #25
Ok. This should be achievable using the MultiStream class, but let me think about this a little, as it may be sensible to add a new feature here.

[2018-12-09 17:36] MichalCz commented on #21
Released in v4.19.

[2018-12-09 17:36] #21 closed

[2018-12-11 23:45] MichalCz commented on #25
Ok. I need to polish my code a little before I post it, but what you want to do can be achieved now with the following code (pseudo):

[code]

[2018-12-12 04:37] devinivy commented on #25
Thank you for putting in the thought and effort!  I will need to process that a little but, but I think I see the core of the idea.  Do you have any insights as to where to `maxParallel` constant would come into play?  Is it an option set on `stream` (per your example)?

[2018-12-12 07:33] MichalCz commented on #25
Exactly there. :)

[2018-12-14 19:46] MichalCz commented on #23
The current solution has been [deployed to OpenAQ adapters](https://github.com/signicode/openaq-fetch/commit/bff0d5e9320fcc2ed8a13bb2d158c4f5b1e0caec#diff-42316622bf109cd0c819b681b5877744R28).

[code]

Should it and can it be any cleaner - the `abort` operation is specific to `request` module...

[2018-12-20 17:32] MichalCz opened #27 "Move all the stream classes out of scramjet-core"
The stream classes are currently extended in `scramjet` and the base resides in `scramjet-core`. This situation is quite bad for any new release which rarely changes the actual core class `PromiseTransformStream`.

This issue is to move all the stream base classes to `scramjet` repo and leave only `PromiseTransformStream` and utility classes in `scramjet-core`.

[2018-12-20 17:40] MichalCz opened #28 "`StringStream.exec` command"
`StringStream` should allow execution of any executable on the system piping own data to stdin on one end outputting stdout/stderr data on the other end.

[2018-12-20 17:54] MichalCz commented on #25
@devinivy did you perhaps have any success in running this? I'm going to test this as a principle and put some name to such a method.

[2018-12-22 23:31] devinivy commented on #25
Hey, I tried this out and didn't get the results I would have expected.  It seems to behave identically, except the stream may end before all items (in my original example, "tables") are processed.  Here's a script I'm using to test this out, visualizing stream progress using progress bars.  You'll see at the top of the file a constant to switch `maxParallel` behavior based upon your snippet.

htt

[2019-01-06 12:33] MichalCz commented on #23
After giving this some thought it seems that the current solution is good enough.

[2019-01-06 12:33] #23 closed

[2019-01-06 17:58] MichalCz commented on #25
Hi @devinivy,

I've got a solution in a form of a new method: `unorder(func)` which does execute consecutive calls without order while keeping a set number of simultaneous operations running. It'll be released in the next minor within a couple days.

See the change set here: [scramjet-experiments devinivy:master...MichalCz:master](https://github.com/devinivy/scramjet-experiments/compare/master...M

[2019-01-06 21:53] MichalCz commented on #25
@devinivy - correction. v4.20 is out now, please check it out.

[2019-01-06 22:01] #22 closed

[2019-01-15 07:19] frank-dspeed opened #29 "Use and Learn Immutable Data Structures to gain Performance"
https://facebook.github.io/immutable-js/

[2019-01-15 11:45] MichalCz commented on #29
@frank-dspeed I'm well aware of Immutable.js, but please note that Scramjet has very little dependencies and is called lightweight for that reason also. We have tried to avoid mutation in the code and I can't think of many places that much mutation is done at run time (a couple of arrays keeping an incremental list).

Please point to specific places you think need improvement, my team will look in

[2019-01-15 12:48] frank-dspeed commented on #29
@MichalCz biggest improvement that i see is avoid forking of nodejs processes that are consuming round about 50mb of memory each :)

[2019-01-15 16:19] MichalCz commented on #29
We were initially looking into the memory issue on threads and other thread implementations, but came to conclusion that we'd rather wait for Worker Threads in v11. Other solutions include a low memory version of node, but that requires bundling binaries which I'd prefer to avoid.

Worker threads are our current candidate, but it's not yet implemented as we aim for a release of such closer to the

[2019-01-16 01:49] frank-dspeed commented on #29
@MichalCz biggest improvement that i see is avoid forking of nodejs processes that are consuming round about 50mb of memory each :)

[2019-01-16 17:51] MichalCz commented on #29
@frank-dspeed can you clarify one bit.

From the documentation did you understand that scramjet is always multi-threaded?

Because it's actually the other way round, you need to want to use multi-threading. I'm getting a similar question somewhere else and I guess we should redo the intro a little to make this clear.

[2019-01-17 08:14] frank-dspeed commented on #29
@MichalCz its clear! but this is not a good idea on many systems and also not a good idea for many tasks you should consider making this optional so it can be disabled on LowRam Systems or Systems that use own Algo for archiving that.

Example when i want to code a performant NodeJS Application i Code it always for a Single TH then i start it as often as i need it and cluster it via iptables routi

[2019-01-18 22:11] jamesearl opened #30 "DataStream.slice(0) does not conform to documented or tested behavior"
**Basics**
The documentation for DataStream.slice reads

However the test cases and code do not reflect the fact that a call to `slice()` or `slice(0, x)` does not behave as expected.

**To Reproduce**
Both of the following tests demonstrate what I'm talking about:
[code]

I'll open a PR with additional tests demonstrating these.

**System:**
 - OS: Ubuntu Desktop 16.04
 - Node version: 10.11.0
 -

[2019-01-18 22:30] MichalCz commented on #30
Hey, nice work. I'll take a look at this over the weekend.

[2019-01-18 22:32] jamesearl commented on #30
Thanks! I tried fixing it myself, but it's going to take me a little while to get familiar with the codebase. I'll add more details if I make any progress.

[2019-01-19 11:02] MichalCz commented on #30
I found a fix for this. I'll commit this today and release a new version.

[2019-01-19 12:56] #30 closed

[2019-01-20 18:08] MichalCz commented on #28
Works on win32. Posix in progress.

[2019-01-22 11:26] MichalCz opened #33 "DataStream..use(function* {}) times out during test."
**Basics**
The issue affects DataStream..use(function* {})

**Describe the bug**
The current test times out.

**To Reproduce**
Steps to reproduce the behavior:
1. Checkout `this` repo.
2. `npm install`
3. `npm test`
4. See error:

[code]

**Expected behavior**
Should not time out.

**Test case**
`nodeunit-tape -t node_modules/scramjet_core/test/v1/data-stream.js`

**System:**
 - OS: Ubuntu Server

[2019-01-22 12:06] MichalCz commented on #33
Bad behavior of whenRead confirmed, additionally more items were read by the first item.

To be fixed in 4.20 patch.

[2019-01-22 12:38] #33 closed

[2019-01-22 14:24] devinivy commented on #25
@MichalCz sorry for the delay!  Thanks so much for this—it seems to work well.  A final curiosity—what kind of error propagation can one expect from exceptions throw inside `unorder()`'s callback?

[2019-01-22 14:30] devinivy commented on #25
By the way regarding this,

This is a little confusing to me.  The streams did seem to finish for me once an empty array was returned.  My impression is that that's how to signal the end of the stream when using `promiseRead()`, per this code in scramjet-core https://github.com/signicode/scramjet-core/blob/master/lib/util/mk-read.js#L45-L47.  If that's not correct, what is the best way to signal t

[2019-01-22 14:44] MichalCz commented on #25
So as to errors - the resulting stream will get a normal error which you can `.catch` and resolve or handle in `.on('error')`. I would suggest the first option though as that allows you to resolve the error with some data and reject based on your logic.

As to `promiseRead()` see that there's `done && !chunks.length` so if there's nothing to push it will end, but only if we're already done.

Now t

[2019-01-22 14:46] MichalCz commented on #25
Actually - I'm getting confused with this also. It seems that this is an empty array indeed. Maybe I should document this after all... :/

[2019-01-25 15:37] paulmowat opened #34 "Question: JSON Array File - Process records in parallel batches."
Hi,

Looking for a bit of advice. I have a file that contains a JSON array of data. This is held on AWS S3.

Format similar to [{"name": "paul"}, {"name": "bob"}, {"name": "stuart"}] but much more data/properties.

I want to stream that data and process a number of records in parallel. e.g. 100 at a time.

I've tried the below

[code]
I want the importer routine to run which will run through a lot

[2019-01-25 15:58] MichalCz commented on #34
For one, I think you might be interested in the ["unorder" method](https://www.scramjet.org/docs/data-stream#DataStream+unorder), added in a recent version. This will keep 100 executions running, but won't take order into account.

This doesn't explain the lack of the final message. I think that there may be a case of an unrejected promise on error. Try adding a console.log in another each or do,

[2019-01-25 16:05] paulmowat commented on #34
thanks for the quick reply, will go give that a try.

[2019-01-26 16:01] MichalCz opened #35 "DataStream.all"
Add a method that works like promise.all.

[2019-01-29 13:10] MichalCz commented on #28
Developed and released.

[2019-01-29 13:10] #28 closed

[2019-01-29 13:11] MichalCz commented on #34
@paulmowat any new info on this?

[2019-01-29 13:22] MichalCz opened #36 "Projects description and up-for-grabs"
A clear an concise roadmap needs to be created for the next couple releases until v5.

There's a need to integrate with up-for-grabs.org to attract contributors and investigate other possibilities.

[2019-01-29 19:47] paulmowat commented on #34
Hi

I got it working with the unorder method as you mentioned :)

Thanks

Paul

[2019-01-29 19:47] #34 closed

[2019-01-29 20:13] MichalCz commented on #34
Great to hear. :)

[2019-02-10 19:46] greenkeeper[bot] opened #37 "An in-range update of scramjet-core is breaking the build 🚨"
## The dependency [scramjet-core](https://github.com/signicode/scramjet-core) was updated from `4.18.6` to `4.19.0`.

🚨 [View failing branch](https://github.com/signicode/scramjet/compare/master...signicode:greenkeeper%2Fscramjet-core-4.19.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

scramjet-core is a direct depend

[2019-02-10 19:53] #35 closed

[2019-02-10 19:57] #37 closed

[2019-02-22 12:10] iwanwmys opened #39 "Firebase Compatibility"
Thanks for the chat Michael! This issue relates to using ScramJet on Firebase Cloud Functions, which uses Nodejs 6.

Here's my index.ts file which I'm deploying to Firebase Cloud Functions:

[code]

When executing the above function, the logs show the following error:

[code]

I would LOVE to be able to use ScramJet on Firebase Cloud Functions :)

[2019-02-22 13:07] MichalCz commented on #39
Hi,

Thanks for the issue - as I see it we have two items to address:
 - Scramjet is not compatible with node v6.x.
 - full TypeScript compatibility is an issue, but only if used as an `import`, not with `require`.

The second part does not affect your case, so we'll inspect the first part now and update this issue on that front. As to full TypeScript compatibility, my colleague informed me of how

[2019-02-22 13:14] iwanwmys commented on #39
Of course, thanks so much! Best of luck :)

[2019-02-24 18:30] MichalCz opened #40 "Node v6 compatibility"
As mentioned in #39 `scramjet` is not compatible with node v6. Amazon, Google and likes use old versions of Node (even though 6 end of support is coming April this year).

We should be able to provide a transpiled version for use with runtimes provided in cloud.

In a branch here: [scramjet-core#feature/node6-support](https://github.com/signicode/scramjet-core/tree/feature/node6-support) there's s

[2019-02-24 18:35] MichalCz commented on #39
@iwanwmys - I created a separate task for the compatibility issue - you may want to track that one.

There's some progress on running `scramjet-core` in v6 so it should all be doable. :)

[2019-02-24 19:15] iwanwmys commented on #39
Awesome thanks for the update :)

On Sun, Feb 24, 2019 at 8:35 PM Budleigh Salterton <notifications@github.com>
wrote:

--

*Iwan Pieterse*
*Team Leader*Email: iwan@wemanageyoursite.com
Twitter: @wemanageyrsite <http://twitter.com/wemanageyrsite>

[2019-03-10 20:31] MichalCz commented on #39
@iwanwmys just to let you know - it's not that easy getting the tests to pass so this will take a while...

[2019-03-17 22:33] leftcoastgeek opened #42 "how can I pipe to regular node transformStream with a scramjet workflow?"
Hi I have some code that looks like this.
[code]
the call to pipe always breaks with a  `UnhandledPromiseRejectionWarning: Error: The "chunk" argument must be one of type string or Buffer.` what am I missing?

[2019-03-17 22:45] MichalCz commented on #42
Hi,

It seems that your TransformStream is not in object mode. You'd need to use `stringify` or `toBufferStream` after `do`, so you can safely pass that to a bit stream. You can also use object mode stream in transform, look it up in node.js stream docs - if you can't find it, let me know.

The cause for this would be that scramjet works on objects by default - so it's a stream of `{}`. Node strea

[2019-03-18 06:38] MichalCz commented on #27
Still in progress...

[2019-03-21 10:10] MichalCz commented on #42
Hi @leftcoastgeek - have you checked the above perhaps?

[2019-03-21 10:45] MichalCz commented on #39
Hi @iwanwmys - I have tried to finish this, but we're facing a couple issues with this:

1. es6 async/await constructs don't seem to work well - I cannot get some of these to resolve, which means the test processes are stalling or failing.
2. Although AsyncGenerators seem to work, they are not usable - passing an async generator from outside scramjet simply fails.
3. The issue above is fixable, bu

[2019-03-21 10:45] #39 closed

[2019-03-21 10:46] #40 closed

[2019-03-21 10:46] #29 closed

[2019-03-21 11:07] MichalCz commented on #39
Here's a link on how to turn on node v8.x engine: https://howtofirebase.com/cloud-functions-migrating-to-node-8-9640731a8acc

[2019-03-23 18:02] devinivy commented on #25
If you'd like we can create an issue to document and/or alter this behavior of `promiseRead()`, but I think the original issue resolved—thanks! 👍

[2019-03-23 18:02] #25 closed

[2019-03-23 18:29] MichalCz commented on #25
I'll get on this anyway. Version 5 is round the corner and brings some major changes. We'll still support the v4 interface (via adapter) and will add some documentation on this too.

[2019-03-25 07:23] iwanwmys commented on #39
Awesome, thank you so much. Firebase cloud functions use node 6 by default,
I wasn't aware you could switch to node 8. Thanks for pointing that out :)

On Thu, Mar 21, 2019 at 1:07 PM Budleigh Salterton <notifications@github.com>
wrote:

--

*Iwan Pieterse*
*Team Leader*Email: iwan@wemanageyoursite.com
Twitter: @wemanageyrsite <http://twitter.com/wemanageyrsite>

[2019-03-25 07:23] iwanwmys commented on #39
Awesome, thank you so much. Firebase cloud functions use node 6 by default, I wasn't aware you could switch to node 8. Thanks for pointing that out :)

[2019-03-30 13:50] MichalCz commented on #36
Don't...

[2019-03-30 18:59] greenkeeper[bot] opened #43 "An in-range update of eslint is breaking the build 🚨"
## The devDependency [eslint](https://github.com/eslint/eslint) was updated from `5.15.3` to `5.16.0`.

🚨 [View failing branch](https://github.com/signicode/scramjet/compare/master...signicode:greenkeeper%2Feslint-5.16.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

eslint is a devDependency of this project. It **might

[2019-03-31 10:31] #43 closed

[2019-04-02 15:31] #42 closed

[2019-04-10 11:31] Sardtok opened #44 "Functions have inappropriate type for optional parameters in TypeScript declaration"
**Basics**
TypeScript declarations do not allow not leaving out optional parameters.

**Describe the bug**
In the TypeScript declarations optional parameters do not have types with ?, making them required parameters. Examples include `toArray(initial: any[]): any[];`, where initial is described as an optional argument. However, this should be `toArray(initial?: any[]): any[];`. This also goes for

[2019-04-10 11:37] MichalCz commented on #44
Hey, thanks for reporting this... I'll take a look and report back on my findings...

[2019-04-10 15:31] MichalCz commented on #44
Hi @Sardtok can you check version v4.23 and report back on the issue?

[2019-04-11 12:00] Sardtok commented on #44
We've updated the dependencies, and it works perfectly.
Thanks for the super quick response!

[2019-04-11 12:00] #44 closed

[2019-04-18 15:28] MichalCz opened #45 "Misleading docs on modules."
**Describe the bug**
Docs here: https://www.scramjet.org/docs/scramjet-modules are outdated and don't point to the right information. Additionally this one: https://github.com/signicode/scramjet/blob/master/docs/modules.md is not available on the website (where it definitely should be in the docs section)

**Expected behavior**
Modules docs should preset the same documentation across all entries.

[2019-05-06 20:35] MichalCz opened #46 "Async iterators should work in flatMap"
**Is your feature request related to a problem? Please describe.**
`flatMap` is a powerfull function, but should support async iteration.

There may be additional methods needing this.

**Describe the solution you'd like**

This simple example should not error:

[code]

[2019-05-07 09:39] MichalCz commented on #46
- Methods needing attention:
   `flatMap`, `flatten` (on `DataStream<AsyncIterator>`), `join`
- Additionally pretty much all of `MultiStream` should be reviewed to work with iterators.
- Docs need to be updated - add more about generators.
- Primary example on webpage and in repo should be updated with generators.

[2019-05-13 13:13] greenkeeper[bot] opened #49 "An in-range update of scramjet-core is breaking the build 🚨"
## The dependency [scramjet-core](https://github.com/signicode/scramjet-core) was updated from `4.21.0` to `4.22.0`.

🚨 [View failing branch](https://github.com/signicode/scramjet/compare/master...signicode:greenkeeper%2Fscramjet-core-4.22.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

scramjet-core is a direct depend

[2019-05-13 13:47] MichalCz commented on #49
Done.

[2019-05-13 13:47] #49 closed

[2019-05-13 13:47] MichalCz commented on #45
Done.

[2019-05-13 18:19] MichalCz commented on #45
Great, now we have a 404... needs fixing... :P

[2019-05-13 18:55] #45 closed

[2019-05-13 18:55] MichalCz commented on #46
Yup. Now works.

[2019-05-13 18:55] #46 closed

[2019-05-22 09:04] MichalCz opened #50 "Page doesn't scroll down on mobile."
On a mobile phone the [docs here](https://www.scramjet.org/docs/data-stream/#module_scramjet.DataStream+filter) don't allow to scroll down - the currently visible item lighs up on the method list and the view is scrolled back there.

[2019-05-22 18:14] MichalCz commented on #50
Solved

[2019-05-22 18:14] #50 closed

[2019-05-31 07:30] #27 closed

[2019-06-12 15:21] #36 closed

[2019-07-22 21:30] MichalCz opened #55 "DataStream..pull tests fail in Travis"
**Describe the bug**
[Travis build fails](https://travis-ci.org/signicode/scramjet/jobs/562211421) on DataStream.pull.

The order of resolved elements is not correct - the streams are mixed, not resolved in parallel.

**Expected behavior**
The streams should resolve one by one.

**Additional context**
Local tests are passing...

[2019-08-12 11:24] MichalCz commented on #55
I can't get to reproduce this. Closing...

[2019-08-12 11:24] #55 closed

[2019-08-21 07:50] KwangGan commented on #2
Hi Thanks for great library.

but this issue happened again with some strange scenario

I have to function like this but this one stall at first .batch() no error no return just process timeout

` res.setHeader('Content-Type', 'application/json; charset=utf-8')
            StringStream
              .from(async function* () {
                const response = await axios.get(csv_url, {

[2019-08-21 11:42] MichalCz opened #57 "Batch issues yet again."
Hi Thanks for great library.

but this issue happened again with some strange scenario

I have two functions like this one

one function work like expect but this one process stalled at first .batch() wiith no error no return just process timeout
[code]

_Originally posted by @KwangGan in https://github.com/signicode/scramjet/issues/2#issuecomment-523340771_

[2019-08-21 11:43] MichalCz commented on #2
Hi @KwangGan please subscribe to #57 I'll be working on your report there...

[2019-08-21 11:49] MichalCz commented on #57
@KwangGan if you could post a sample CSV link here so we could try to reproduce the problem.

Two things may be important:

1. The csv should include similar data - like if there's some Thai chars it would be good to provide similar example
2. The length of the csv - if that's smaller than the batch size we should keep it that way.

Here's the overall bugfixing procedure:

1. Isolate the test case

[2019-08-22 06:30] KwangGan commented on #57
Thank you for reopen issue
1. I tried to increase and decrease batch size but no lock even 1 or 500  per batch
2. here my CSV that contain only EN alphabet.
https://ybin.me/p/b2a673d1480d1c94#WGKBUy47K9F/ZaRyg5/xEd581xCW9hy+E6VkQOfmCKE=

3. here is my code using multer_s3 and express js
https://ybin.me/p/4f62a44fa86cb9a7#W2Asc7kv9vX2JQw2D8TqUikJPgwMRiB4Sjyhz73fUxs=

node 10.15

[2019-08-23 08:56] KwangGan commented on #57
My solution for now is Downgrade to v4.23  and everything works as expect :D

[2019-08-23 10:58] MichalCz commented on #57
Ok, good, I'll check the differences over the weekend and I'll try to figure out what went down.

4.23 may rely on a bit older papaparse, but that should not affect the parsing. There may be some things missing around rate and exec, but I don't see you using this.

[2019-08-27 09:54] MichalCz commented on #57
@KwangGan I have tested batch in your scenario and I don't think it's our case (I've added some special tests that should cover the case).

I believe your code may be affected by a change in `pull` which in turn handles the `function*` slightly different. Can you try a slightly different way of getting the stream?

[code]

I'm not sure if this helps but the answer will lead me somewhere...

[2019-10-05 11:56] peterviergutz opened #61 "DataStream.distribute causes "StreamWorker child timeout""
First of all, thanks for this awesome library! I am very eager to test out hwich perfroamnce gains I can achieve using the distribute method, but somehow I cannot get it to run. Posting as a regular issue, because I am not sure if this is a bug or something wrong on my side.

I derived a small script from the testcase of the `distribute` method to test out any performance gains, but it keeps exiti

[2019-10-05 11:58] MichalCz commented on #61
Hey, this will be the first under 1 minute reaction time. :D

Looking into - will try to reproduce and come back.

Good issue writing. 👍

[2019-10-05 16:45] MichalCz commented on #61
Ok, strange - I do see an error, but actually a different one:

[code]

Indeed Scramjet is not currently tested on Mac, since I have limited time to do that on my own infrastructure and I'm not aware of any free tools that would support macos tests...

[2019-10-05 18:08] MichalCz commented on #61
Hi, I confirm this is an error on `scramjet` end. I will investigate further and let you know here as soon as I'll find out what is the reason...

This doesn't work with any kind of child worker anymore.

[2019-10-05 18:10] MichalCz opened #62 "Introduce some test automation around distribute."
Related: #61

**Is your feature request related to a problem? Please describe.**
Currently the stream worker tests are not made since Travis doesn't allow these to be executed - this leads to issues like #61 to reappear.

**Describe the solution you'd like**
Perhaps drone would be a good solution.

[2019-10-05 18:18] MichalCz commented on #57
@KwangGan could you create some kind of a repo (or fork of scramjet) that would have a test for you scenario?

[2019-11-11 05:52] mgaylord-branch opened #63 "Question: StringStream parsing large CSV files and memory"
I am trying to use StringStream to parse very large CSV files into JSON objects (over 100k to 500k rows) on AWS Lambda and then upload them to a third party service. The following is the code I am using:

[code]

When I run this code on a file with 100k lines it maxes out my Lambda memory of 1024mb. If I remove the uploadEvents call it maxes out at around 300mb of memory.

My question is: is there

[2019-11-15 15:44] MichalCz commented on #63
Hi,

Sorry for the long answer - looking at the code it's not necessarily obvious what happens there, but my assumption would be that because of the rather big batch (5000 events) the resident size of the chunks is that high. The reason for this is that you create an array of strings that you then join and split again in your map function.

What I would recommend is to use scramjet to parse the cs

[2019-11-19 01:46] mgaylord-branch commented on #63
@MichalCz Thanks for following up on this. I tried your suggestion above, but it seems like `CSVParse` needs to complete before the batching begins which causes the system to run out of memory.

This is why I had to split on newlines (because batching doesn't break on newlines leading to parse errors), batch the lines into 500 and then parse. I reduced the batch down to 500 in my above code and th

[2019-11-19 09:28] MichalCz commented on #63
Hmm... If you're correct then that would be a major bug...

I tried reproducing this but I still see the backpressure working, so I'm not sure what breaks it in your case. Can you help me out and create some kind of a test case that I could debug on? A simple repo and some guide how to run the example would do. I'd then try to fix figure out what's going on...

[2019-11-22 08:00] mgaylord-branch commented on #63
Sure, I'll put something together.

I just tried again with your suggested code and it definitely runs out of memory. Even with very small batches of 500 events.

[2019-12-02 13:42] JurgenJocubeit opened #65 "XMLParse()"
Any chance you'll be including XMLParse() functionality?

[2019-12-02 13:52] MichalCz commented on #65
I did think about this on a couple occasions - any proposals regarding a good streaming xml parser module that wouldn't include dependency weight that would incur relativistic effects? ;)

[2019-12-02 14:38] JurgenJocubeit commented on #65
[fast-xml-parser](https://www.npmjs.com/package/fast-xml-parser) seems to be the favourite, but it's a not a streaming parser.

[xml-flow](https://www.npmjs.com/package/xml-flow) looks ok - I've never used it though. Uses the sax library. Also has a BSD license - not sure if this is a concern for you.

[xml-streamer](https://www.npmjs.com/package/xml-streamer) is based on node-expat and It impleme

[2019-12-02 15:19] MichalCz commented on #65
Looking at the options I'd just go and use `sax` as a dependency, as this would carry less weight...

Ok, the last time I inspected this I thought be best way would be to use `xpath` or `queryselector` as the argument for the data and I don't see anything that could solve this for us - which would mean sadly a new project (cool!). My idea would then be:

1. create a `sax` derived module that would

[2019-12-02 21:30] JurgenJocubeit commented on #65
I'm willing to help, not sure how much help I can be though... I come from the C# and ruby worlds, node and javascript are still are still on my learning curve. I'm using typescript, node and dart on a daily basis though, and I'm a fast learner. Just let me know what you would like me to tackle and I'll take a stab.

By new project do you mean a new module that could then be used by scramjet, or d

[2019-12-05 08:20] MichalCz commented on #65
Good, so:

1. No, I think the XMLParse should not be a plugin especially since CSVParse isn't. I'd start a separate repo just for the sax based streamed parser and use it as a dependency (so that's where your help would be appreciated).

2. XPath and Selectors could be both supported - we'd just need to see which ones are supported by sax and other tools we could setup. I'm in a process of setting

[2019-12-05 08:22] MichalCz commented on #63
Any update on this @mgaylord-branch?

[2019-12-06 10:01] mgaylord-branch commented on #63
@MichalCz I am a bit snowed under at the moment with work. Will see if I can get something out in the next week or two.

[2019-12-08 11:46] JurgenJocubeit commented on #65
OK, let me know when you have slack setup, in the mean time I'll familiarise myself with ScramJet, JSONParse etc.

[2019-12-18 19:19] #62 closed

[2019-12-18 19:19] #57 closed

[2019-12-19 10:41] MichalCz commented on #63
Hey Michael, I'm just pinging to keep this alive... Any chance you'd get some example posted?

[2019-12-20 07:16] danielplascencia opened #69 "It would be nice to have a way to stop processing records on first error."
think in an scenario using the following code:

[code]

When any error occurs the streams is closed but for some reason scramjet is still processing data, is there a way to stop processing the data and return/throw/rise the error?

[2019-12-20 09:25] MichalCz commented on #69
Hi @danielplascencia,

The `batch` method doesn't pass the the `maxParallel` settings further, since it does break the chain of transforms. If you push the `setOptions` code lower, it should stop immediately (mind you it will have an impact on performance).

The reason for this happening is that `scramjet` runs operations in parallel and because all operations are treated as asynchronous (or more

[2019-12-20 09:29] MichalCz commented on #63
@mgaylord-branch can you check one thing - try to add this code somewhere in the begining of uploadEvents:

[code]

This should be a bit easier for the GC to find some space to kick in if we're not dealing with some reference leak here (which I still suspect in the `uploadEvents`)... Anyway if that helps I can propose a new method in scramjet for this.

[2019-12-20 09:36] mgaylord-branch commented on #63
@MichalCz Thanks for this and sorry for the slow reply, I will take a look at this in my downtime this week coming.

[2020-01-23 21:18] intellix opened #70 "Typescript types are massively broken"
Trying to use scramjet in TypeScript and getting a bucket of errors such as:
 - Cannot find name 'ScramjetOptions'.
 - Generic type 'Promise<T>' requires 1 type argument(s).
 - Generic type 'Iterable<T>' requires 1 type argument(s).

Just looking at them I'm not sure if they were ever meant to work or in what version of TypeScript they did but there's clearly references to types that aren't ever p

[2020-01-24 08:17] MichalCz commented on #70
Hi @intellix, thanks for reporting this.

I'll look into how much work it is. The TS.d file is generated from jsdoc, I made a lot of modification in it to make it compile but without an automated test I can't really know if the docs are bang on perfect (and therefore the TS.d).

If you have an idea for an automated test and could create a repo with it, then I could add this to my CI settings and m

[2020-01-28 04:54] SeanAvery commented on #61
Confirm I am also getting `The "id" argument must be of type string. Received type object'` error on macos.

Is there any update on this?

[2020-01-29 12:10] MichalCz commented on #61
@SeanAvery would you be able to attempt to fix this? There must be something wrong with the StreamWorker class when it passes the code to be run there.

I sadly don't have the throughput to fix this as I'm working on a major rewrite for `v5` and at the same time trying not to suck at my day job. ;)

If you could create a repo that would show the problem then we could try to solve it together and I

[2020-01-29 20:27] MichalCz commented on #70
@intellix would you be interested in helping out and setting a test repo for this?

What I need is a repo and a set of commands that in the end would result in an exit status that I could base my test on.

[2020-01-31 17:30] MichalCz commented on #61
@peterviergutz @SeanAvery can you check a one thing for me and just refactor the code from:

[code]

to:

[code]

This may cause some own issues, but let me know if the result is any different from this.

[2020-02-20 13:08] #65 closed

[2020-02-21 07:08] bluelovers opened #72 "BufferStream.from not running AsyncGenerator"
**Basics**

[code]

**Describe the bug**

function at BufferStream.from didn't run

**To Reproduce**
Steps to reproduce the behavior:
1. Checkout repo: '...'
2. Install '....'
3. Execute command '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Test case**
If possible, please provide an automated test case to include, better yet in a fork

[2020-02-21 07:39] MichalCz commented on #72
Hi. Thanks for the report.

I have looked into the code quickly and the implementation seems to be there. I'll take a look at that in detail, but the above code doesn't look exactly right. I'm not sure if that's not somehow mispasted, but it appears as if you pass `createWriteStream` result as the second argument - which looks more like what you'd expect from `pipeline` method, not `from`?

[2020-02-21 08:34] bluelovers commented on #72
full test code

in console it didn't print 222, mean  `async function* ()` is didn't call by `BufferStream.from`

[code]

[2020-02-21 21:56] MichalCz commented on #72
Hey,

Please check this:

[code]

Actually the generator there is not needed and you can simply pass the result of ipfs.cat:

[code]

[2020-02-21 21:57] MichalCz commented on #72
Let me know if this works for you. :)

[2020-02-21 22:40] bluelovers commented on #72
[code]

[code]

thx, it work now

[2020-02-22 00:10] #72 closed

[2020-02-22 11:02] MichalCz commented on #72
Great. :)

Actually I forgot this is a callback style function, the best way to use it (as the `finally` would get executed too soon) would be:

[code]

[2020-02-22 11:04] MichalCz commented on #70
Ok, so I've done some research around this and I'm going to rebuild the whole generation of documentation based solely on `d.ts` files. I managed to get very good code hinting with generic code.

I'll update this issue with the branch, where I'm going to work on this.

I found a way to do interface checks on js files which was the biggest dillema.

[2020-02-24 16:41] MichalCz commented on #70
`ScramjetOptions` is now fixed. Better typings will be here in 4.29.

[2020-02-25 12:40] MichalCz commented on #65
There's a discussion on the [**just opened scramjet slack**](https://join.slack.com/t/scramjetframework/shared_invite/enQtODg2MDIyMTQ5MzUxLTVlNTIwMmFlYWU0YTg2ZTg1YmFiOTZkZTdhNzNmNjE2ZmQ3ZWQzZjI5MGQyZDAyOWM2NDc5YzdmZGQzNGI3YTU) about this...

I think this could be the good way to work with this.

[code]

[2020-03-03 10:58] #69 closed

[2020-03-03 10:58] #63 closed

[2020-04-14 18:38] #61 closed

[2020-04-16 12:21] lygstate opened #77 "Typescript 3.8 definition file error"
[code]

[2020-04-16 14:31] MichalCz commented on #77
@lygstate can you help me with testing? I have a new rewrite of TypeScript definitions, but I'm not sure if they work in all cases - I've seen some massive timeouts in a couple situations and I'm not sure if that's because of me overdoing it... :/

If so, can you join [scramjet's slack](https://join.slack.com/t/scramjetframework/shared_invite/enQtODg2MDIyMTQ5MzUxLTVlNTIwMmFlYWU0YTg2ZTg1YmFiOTZkZTd

[2020-04-16 17:41] lygstate commented on #77
timeout for what?

[2020-04-16 17:43] lygstate commented on #77
If there is too much issue: TypeScript rewrite would improve the code quality

[2020-04-16 21:21] MichalCz commented on #77
The timeout appears in some cases on using `tsc` and it's regarding the ts rewrite. As to code quality - I don't think TS does not improve code quality as such, but I'm more interested in making writing new methods easier.

The core part, mostly for perfomance reasons needs to stay in pure js (besides the code there simply won't work with TS - it's too complicated).

So my aim now is to make prope

[2020-04-17 23:40] AJExtravaganza opened #78 "Reading from subject or result of Datastream.tee() appears to fail silently beyond 32nd item."
**Basics**
Affects master and teed streams when tee() is called on the master.

**Describe the bug**
The process silently halts, ostensibly when attempting to read the 33rd item from either stream.

**To Reproduce** (self-contained except node/scramjet)
[code]

**Expected behavior**
results should be an array with two elements, each consisting of an array of fifty integers (when using fiftyElement

[2020-04-18 01:44] AJExtravaganza commented on #78
@MichalCz The fault appears to be in signicode/scramjet-core/

Closing here and reopening there with additional info.

[2020-04-18 01:44] #78 closed

[2020-05-11 16:16] deman4ik commented on #70
Typescript typings still broken in 4.29
![Screenshot 2020-05-11 at 19 15 32](https://user-images.githubusercontent.com/913027/81584754-d4686400-93bb-11ea-8607-673903157faa.png)

[2020-05-11 22:19] MichalCz commented on #70
@deman4ik yes, I'm still trying to make the compiler not to get into a loop and at the same time be able to fully support internal function typings (hint for instance map -> map operation).

This works in VSCode, but compiling against this causes call stack exceeded errors. :/

[2020-05-15 09:07] MichalCz opened #81 "Investigate possible vuln in papaparse"
**Basics**:

According to the report here [mholt/PapaParse#793](https://github.com/mholt/PapaParse/issues/793) there's a chance that someone could export a formula in the produced csv and use it as an attack on spreadsheets...

This sounds a bit crazy as:

- what if someone actually wanted to output a formula in csv?
- it isn't us who's under attack

Anyway Snyk seems to have marked this as a high

[2020-05-17 08:34] MichalCz commented on #81
Ok, that seems to be nothing...

[2020-05-17 08:34] #81 closed

[2020-06-01 17:39] MichalCz commented on #70
@intellix @deman4ik can you guys check `scramjet@4.30`?

[2020-06-01 17:41] MichalCz commented on #77
@lygstate can you check `v4.30`?

[2020-06-01 19:06] deman4ik commented on #70
@MichalCz seems good.
Thank you for your work!

[2020-06-02 06:31] MichalCz commented on #77
We have a confirmation, v4.30 stones the issues

[2020-06-02 06:45] #77 closed

[2020-06-07 04:32] rendomnet opened #84 "Cant read remote file. UnhandledPromiseRejectionWarning: Error: Trailing quote on quoted field is malformed"
**Describe the bug**
Showing error

**To Reproduce**
[code]

**Error**
(node:5521) UnhandledPromiseRejectionWarning: Unhandled promise rejection. This error originated either by throwing inside of an async function without a catch block, or by rejecting a promise which was not handled with .catch(). (rejection id: 336)
(node:5521) UnhandledPromiseRejectionWarning: Error: Trailing quote on quoted f

[2020-06-07 05:23] rendomnet commented on #84
Okay I found the problem. For google cloud I need to use different url.
`https://storage.googleapis.com/***/some.csv`

[2020-06-07 05:23] #84 closed

[2020-06-07 18:58] MichalCz commented on #84
You know what they say: best issues solve themselves. :D

BTW, for better error handling just add a `catch` at the end.

[2020-06-21 10:04] maxharlow opened #85 "Accessing non-existent property 'WindowStream' of module exports inside circular dependency"
I get this warning message every time Scramjet is imported? Seems to run ok however.

To reproduce..

`test.js`:
[code]

[code]
[code]

I'm using Scramjet v4.30.2 with Node v14.3.0 on MacOS v10.14.6.

[2020-06-24 07:40] MichalCz commented on #85
Yes, the circular dependency is for purpose there and taken into account, but I guess, since new `mjs` modules work in a different way this won't be necessary.

I've taken some time off now to try to push for Scramjet v5.0.0 again so this will be solved also there, but for now, we need to park it unless you have some ideas (PR welcome).

[2020-06-25 13:25] MichalCz commented on #70
@deman4ik @intellix guys, another major rewrite of the `d.ts` files - can you check how this works now.

I removed completely the `declare module` thing and replaced it by top level declarations - these seem to work well for me and I see that the node.js stream inheritance now works well, although it would be good to know if that worked in an actual typescript project.

[2020-06-25 13:30] deman4ik commented on #70
@MichalCz Updated to 4.33.0. TS build is fine in my project without any changes. 👍

[2020-06-26 05:17] johnpyp opened #86 "More specific parallelism"
**Is your feature request related to a problem? Please describe.**
Different parts of a pipeline might want different levels of parallelism, for example you might not want to send more than 20 concurrent http requests, but be fine with 100 concurrent file reads.
**Describe the solution you'd like**
It would be nice to have another parameter in the `.map` and `.flatMap` functions (and probably othe

[2020-06-26 06:54] MichalCz commented on #86
Thanks for the proposal, please give me a couple days to think about this since there's a couple things to take into consideration.

[2020-06-26 06:55] MichalCz commented on #70
Great. :)

[2020-06-26 06:55] #70 closed

[2020-06-27 17:04] MichalCz commented on #86
Ok, so you may not know this (and this should be probably better documented, but this is the issue of the whole core of Scramjet - so sadly nothing new here), but there already is a way to do this - the solution is to call in chain: `.setOptions({maxParallel: 32})`. (default is 2 * vCPUs)

This however, due to the merging of transforms and somewhat unknown passing of options is not fully dependabl

[2020-06-27 17:05] MichalCz commented on #85
I'll be solving this in Scramjet v5.0

[2020-07-07 14:51] AndrewGrachov opened #87 "Typescript compilation error: Top-level declarations in .d.ts files must start with either a 'declare' or 'export' modifier."
[code]

**TS version: ** 3.8.3

**Scramjet version: **  4.33.4

**Solution: **

downgraded to 4.30.1

[2020-07-08 10:24] MichalCz commented on #87
Hey, thanks for the comment, we're on it. :)

[2020-07-08 10:54] MichalCz commented on #87
@AndrewGrachov can you extract a simple repo for instance with a single file that causes the above issue? We'd check if we can reproduce this.

Or at least share the code that uses scramjet?

[2020-07-09 13:06] AndrewGrachov commented on #87
https://github.com/AndrewGrachov/scramjet-error

here you are, I suspect yarn

[2020-07-09 13:07] AndrewGrachov commented on #87
dockerfile build should fail

[2020-07-09 15:22] MichalCz commented on #87
Thanks, I'll check - I believe I'll need to redo the `pipeline` method override in all streams - I don't know why it's like that in `ts` since pipeline is not a method of `Readable` or `Writable` or any other Node.js stream, but worst case scenario I'll just allow `any` there...

[2020-07-10 20:01] MichalCz commented on #87
I'm trying to fix this - but this is taking some extra time, as I don't really know how to make Typescript ok with overriding of some of Duplex/PassThrough stream methods (`pipeline` mostly).

I'll try to solve it in such a way that this will be compatible - I'll create a PR over the weekend and perhaps you could help me with getting the definitions right.

[2020-07-13 09:08] MichalCz commented on #87
Still working on this - it's a bit annoying since I added the `pipeline` method before it was added to Transform stream and then the method was made incompatible which doesn't go well with Typescript.

[2020-07-20 18:16] MichalCz commented on #87
Another update - we're focusing on Scramjet v5.x branch now, as we're trying to pass a tipping point there - still we'll return to this asap.

[2020-07-27 12:27] MichalCz commented on #87
Ok, fix underway - I needed to remove the pipe method altogether and use node's own one. There's a possible compatibility issue, but if that occurs for anyone - it's most likely to be a bug (so you'd need to fix that in your own code).

@AndrewGrachov tell me if it's now working for you with `4.34.0` - I'll publish this in a couple minutes.

[2020-07-27 12:37] MichalCz opened #89 "[Help Wanted] Typescript testing"
**Is your feature request related to a problem? Please describe.**

Every now and then a change in `scramjet` breaks the typescript compatibility. How can we check if the `ts.d` files are ok?

**Describe the solution you'd like**

There should be a `npm run test:typescript-definitions` that should at least install scramjet as a dependency from a `file://` location and try to `tsc` a sample `ts` fi

[2020-07-31 10:16] MichalCz commented on #87
@AndrewGrachov shall we close this?

[2020-07-31 16:43] AndrewGrachov commented on #87
Build os ok, thank you!

[2020-07-31 16:43] #87 closed

[2020-07-31 17:00] MichalCz commented on #87
Brilliant. 👍

[2020-09-05 07:00] chapmanjacobd commented on #89
https://stackoverflow.com/questions/49296151/how-to-write-tests-for-typescript-typing-definition

https://github.com/ai/check-dts

[2020-09-05 09:59] chapmanjacobd opened #90 "DataStream.batch() streaming data from BigQuery"
If I remove the `.batch()` or `.timeBatch()`  line then it works fine.

With it I get this error:

[code]

**To Reproduce**

[code]

maybe it is a limitation of the BigQuery method or maybe I'm doing this wrong

[2020-09-05 12:43] MichalCz commented on #89
Ok, that's quite interesting. :)

I included this in the flow - it seems to cover errors quite nicely. :)

[2020-09-05 12:43] #89 closed

[2020-09-05 12:47] MichalCz commented on #90
Ok, batch and timebatch actually turn these rows into arrays of rows so I'm guessing that's what causes the errors.

You'd need to put the `timeBatch` after the `map` there and in `do` use either `Promise.all` or better yet convert this delete a number of records with `IN`.

Reach out to me on slack directly I can take a look at this. :)

[2020-09-05 15:48] #90 closed

[2020-09-06 12:23] MichalCz commented on #90
BTW, you may want to look at the `nagle` method - this may work more as you expected, but it wouldn't be as efficient as you could achieve using the above `timeBatch` with actual batched deletes and inserts.

[2020-09-07 17:15] chapmanjacobd commented on #90
Yeah I decided to change my approach. I'm going with batched inserts to a temporary table outside of a transaction and then have a separate transaction to run some fast queries to delete and insert from the temp table into the destination table

[2020-09-07 18:09] MichalCz commented on #90
That's cool. So I guess `DELETE FROM x WHERE id IN (SELECT id FROM temp_x)`?

For others, would you be so kind to post the code here when you're done?

[2020-09-08 15:45] chapmanjacobd commented on #90
yeah I just do something like this:

[code]

how do I access the originalError from within the `do` method?

[2020-09-08 16:14] MichalCz commented on #90
You caught the error as `err` so your `originalError` is just `err`.

If you don't catch it (just leave it as await) then a scramjet wrapped error can be catught using a `catch` after the whole `do`, or simply by catching the error after `run` which returns the promise.

It's a fantastic example BTW. :)

[2020-09-08 16:16] MichalCz commented on #90
[code]

[2020-09-08 17:02] chapmanjacobd commented on #90
ohh I see... so that's how it works

ahh yes. I am worried that if I do too many inserts into SQL Server then the transaction log will run out of space. I'm not sure how it works internally so I'm being extra careful.

`knex.batchInsert()` will actually do an implicit transaction so it will never insert only some "chunks" but not others. It has an implicit commit/rollback.

await mssql.transaction

[2020-09-09 20:53] MichalCz commented on #85
Nope, patch underway after all... :)

[2020-09-09 20:57] MichalCz commented on #85
@maxharlow `v4.34.5` should solve the issue.

[2020-09-10 07:58] maxharlow commented on #85
@MichalCz That works great, thank you

[2020-09-10 07:58] #85 closed

[2020-09-12 09:34] #86 closed

[2020-09-25 00:27] gregmsanderson opened #91 "Update example on home page now that request is deprecated?"
Hello,

I came across this project and tried the first example shown using StringStream which seems to work great.

_However_ it seems the request package is deprecated. Maybe update the example to instead use axios, fetch etc?

`request("https://api.example.org/v1/shows/list")`

Thanks!

[2020-09-25 08:18] MichalCz commented on #91
Yeah, I guess we should change it, preferably to something light...

I guess node-fetch would be best? Axios seems quite heavy?

[2020-09-25 13:35] gregmsanderson commented on #91
node-fetch seems the smallest, from https://github.com/request/request/issues/3143 so if it does the same, sure, swap for that?

[2020-09-25 13:42] MichalCz commented on #91
Yeah. I'll review the dependencies in examples too - I think there's some `request` mentions in other places.

`fetch` is already on [www.scramjet.org](https://www.scramjet.org) - so I guess that's easiest to push some simple one liner to get the stream like:

`StringStream.from(async () => (await fetch('https://example.org/some.csv')).body)`

I'd need to test it first though...

[2020-09-28 17:34] MichalCz commented on #91
Done and pushed. :)

Oh and at the same time, now this will work:

[code]

A small addition. 😄

[2020-09-28 17:34] #91 closed

[2020-10-10 15:19] MichalCz opened #92 "BufferStream/StringStream fromFile / toFile methods."
**Is your feature request related to a problem? Please describe.**

Every time we need to parse a file there's a lot of code needed.

**Describe the solution you'd like**

This should work:

[code]

[2020-10-22 19:09] MichalCz opened #93 "Tests failing."
.d.ts test are failing - seems that a new version of dts-check requires a package.json file.

I'll investigate over weekend. @stokowski I'll try to run this through vscode still on the old machine, but we need to try to setup the new dev machine with gitpod soon.

[2020-10-26 14:34] MichalCz commented on #93
After checking seems that we have some problems in v15.0.0 - checking.

[2020-10-26 15:17] MichalCz commented on #93
Fix created, waiting for Travis to confirm this.

[2020-10-27 11:26] MichalCz commented on #93
Ok, seems that one of the checks has to be disabled for a while in node v15: https://github.com/ai/check-dts/issues/11

[2020-10-28 11:35] MichalCz commented on #93
Fixed.

[2020-10-28 11:35] #93 closed

[2020-11-27 07:47] KrishnaPG opened #94 "Track stream offset for retries"
Could not find much information on how to "track the input stream offset" so that in case of errors, the stream can start from that offset rather than starting from the initial 0 position.

Consider this scenario: a large csv file from S3 is being streamed-in, and some application or network error happens near the end before it completes processing all the records. We then have to retry after the

[2020-11-27 08:03] MichalCz commented on #94
Hi,

Thanks for the issue, this is an interesting case. Let me think about this, I'll propose a solution.

M.

[2020-11-27 14:17] MichalCz commented on #94
Not as a solution yet, but just considering what we're looking at here.

* I'd assume we expect the process may crash or the server may fail - in both cases we need to store the counter (periodically) - some external system - so we need a function there.
* The resume is actually quite easy - we'd stream from a specific place, we'd need to consider if we start precisely on a specific byte that is t

[2020-11-27 15:46] KrishnaPG commented on #94
Thank you @MichalCz Yes, that is spot on.

- the `offset` can be some meaningful value to be able to resume the processing, such as the `start of the line`, as you have correctly mentioned.
- in serverless scenarios, the `offset` may be stored in job-queues as part of the progress, which is some form of redis/sql as you have indicated
- for the column names, I was planning to save the `headers` in

[2020-11-28 01:34] KrishnaPG opened #95 "What is the best way to handle errors?"
Looking for help with handling the errors in the right way. Could not find much details in the documentation or examples, and my initial attempts at `reject` or `throw` does not seem to work.

Scenario:

1. A large CSV file comes for processing and we need to ensure that it is of right "type" (i.e. the headers are as expected by the pipeline)
    - this is to ensure we do not end up injecting wron

[2020-11-28 08:54] MichalCz commented on #94
As to the last part - I think we'd need to look at implementation of `CSVParse` and rebuild it as a module (with `fast-csv` or `papaparse` - doesn't matter).

Then there's the last question: how often would we save the offset and under what circumstances? The thing is the three last operations are composed in Scramjet, so there's no clear order there - we'd need to either realign those or use `.se

[2020-11-28 09:23] MichalCz commented on #95
Ok, so first of all check this: [DataStream..catch](https://scramjet.org/docs/data-stream#module_scramjet.DataStream+catch) - you can add this at any point in the stream and it works by catching any error that appears above it in the pipeline.

It should work for any function (sync or async) and it will be forwarded between steps.

If you want to raise an error from the outside that you can by usi

[2020-11-30 10:21] MichalCz commented on #94
Ok, circling back, I'd propose to transform the stream to a CSV that tracks the offset (adds it to the begining of each line):

[code]

This is still some pseudocode and you have to think about how to handle the first line, but the general idea is as above...

However - if you'd be ready to help out - I did want to add some `counting` feature in version v5 where some context could be passed along

[2020-12-01 12:32] maxharlow opened #96 "DataStream.slice throws 'write after end' error"
With this file, `test.ndjson`:
[code]
And this code:

[code]

Throws this error:

[code]

Bizarrely, if you remove one line from the file (any line), you don't get the error.

Node v14.14, Scramjet v4.35.6

[2020-12-01 12:40] MichalCz commented on #96
Hey,

Thanks for the info - can you downgrade to `4.34` and `4.35.5` and see if any of these has an effect.

I'll add the above case to tests but it will take a bit to reproduce, so you may solve the issue this way.

M.

[2020-12-01 13:03] maxharlow commented on #96
Thanks for the quick response! I still get the same error on v4.34, but I tried going back to v4.19 and that seems to work

[2020-12-01 13:06] MichalCz commented on #96
Ok. That's a good lead - hopefully we haven't added some specific function in between 4.19 and now. I can't remember any prod-grade vulnerable deps either so if that works for you, as a dependency it is safe to use it for now.

I think I know what is the reason so it shouldn't be long until I manage to fix it, rather days than weeks.

[2020-12-01 16:46] MichalCz commented on #96
It turned out to be hours... I've got a fix - release tomorrow.

[2020-12-01 16:59] maxharlow commented on #96
Excellent news, thank you!

[2020-12-01 18:51] #96 closed

[2020-12-01 18:53] MichalCz commented on #96
@maxharlow - check `scramjet@4.35.7`...

...and your LinkedIn BTW ;)

[2020-12-03 11:59] MichalCz commented on #92
Ok, slight mod... should be `fromUri`?

[2020-12-03 14:42] skif48 opened #97 "DataStreamOptions.objectMode causes compilation failure"
![screenshot-2020-12-03T16:42:40](https://user-images.githubusercontent.com/6445180/101043091-9795d180-3586-11eb-8bbf-8b6549429f58.png)
Hi! I found a weird thing in types of this project.

**Basics**
DataStreamOptions interface. "objectMode" property.

**Describe the bug**
"objectMode" property is duplicated, which fails the compilation step.

**To Reproduce**
Just install scramjet@4.35.7 on a typ

[2020-12-03 16:13] MichalCz commented on #97
Thanks for the info. We'll fix this before Monday.

M.

[2020-12-04 13:20] #97 closed

[2020-12-04 13:23] MichalCz commented on #97
And fix released - please reopen if you still experience any issues.

[2020-12-08 12:01] skif48 commented on #97
Hi @MichalCz !

Confirming, works now. Appreciate your help and quick resolution.

[2020-12-08 12:12] MichalCz commented on #97
Well paraphrasing Monty Python... it's all in the days work for scramjet repair man. ;D

[2021-01-07 17:52] #94 closed

[2021-01-07 17:52] #95 closed

[2021-01-16 14:32] maxharlow opened #99 "DataStream.flatMap causes stream to end early"
When I use `flatMap` the stream seems to end prematurely in some circumstances. For example:

[code]

I'd expect this to print out every number from 0 to 49 twice. Instead it consistently stops at 14. If I change the `flatMap` line to be `x => [x]` it runs all the way through as expected. Changing it to `x => [x, x, x]` makes it run through to 24.

I'm using Scramjet v4.35.10 and Node v15.5.1.

[2021-01-16 19:08] maxharlow commented on #99
Downgrading to Scramjet v4.23.2 seems to fix the problem

[2021-01-18 08:50] MichalCz commented on #99
Thanks for the info, will check today and report back

[2021-01-18 08:51] MichalCz commented on #99
BTW, can you check if you get to see the `end` event?

[2021-01-18 10:52] maxharlow commented on #99
Brilliant, thanks. How do I check for the `end` event?

[2021-01-18 11:45] MichalCz commented on #99
on('end', /* some callback here */)

On Mon, 18 Jan 2021, 11:52 Max Harlow, <notifications@github.com> wrote:

[2021-01-18 11:51] maxharlow commented on #99
Just checked, no end event

[2021-01-18 12:37] MichalCz commented on #99
Ok. Then it should be an easy fix.

M.

On Mon, 18 Jan 2021, 12:52 Max Harlow, <notifications@github.com> wrote:

[2021-01-19 19:29] MichalCz commented on #99
Max, I've found a fix, but I do need to investigate a bit and clean up the code after all this.

I can commit to Monday, I hope this works for you.

[2021-01-19 19:52] maxharlow commented on #99
That's great! No rush, I can use the older version for now

[2021-01-24 18:38] #99 closed

[2021-01-24 18:40] MichalCz commented on #99
@maxharlow this is fixed in `scramjet@4.35.11`

[2021-01-25 02:34] KrishnaPG commented on #94
Thank you @MichalCz I would think the `skipping till offset` feature can be generalized into a more `skip rows / objects` on the input stream to allow `filter` kind of functionality that enables `filtering out` rows / objects that satisfy some condition on the input stream.

For example, few filtering conditions could be:
- skip the first `n` rows
- skip the last `n` rows
- skip the rows / objects

[2021-01-25 09:28] MichalCz commented on #94
I see what you mean - so it would be something like the `seek` feature... I can't really think of including this in the 4.x series, as it would need a special interface and may actually break backwards compatibility, but I put it on the board for 5.x.

[2021-01-25 10:35] KrishnaPG commented on #94
Understood @MichalCz . Looking forward to the 5.x

[2021-01-26 14:09] kenzik opened #100 "CSVParse() step issue?"
Should we expect the `step` function in the CSVParse() options to pass the result down the chain?
[code]

`node main` - as expected
`node main step` - nada
`node main step-worker` - nada

Repo: https://github.com/kenzik/scramjet-csvparse-step

Goal is to dynamically inject a field in each row in the CSV to use later in the `map` function.

[2021-01-26 18:56] kenzik commented on #100
Checked doing the same with only papaparse and had same issue. May not be supported. Not a scramjet issue.

[2021-01-26 18:56] #100 closed

[2021-01-28 10:52] tiswrt opened #101 "MultiStream.map(...).mux is not a function"
MultiStream.map(...).mux is not a function if you try the example from the docs for MultiStreams

[code]

Throws this error:

[code]

Node v15.7.0, Scramjet v4.35.11

[2021-01-28 11:12] MichalCz commented on #101
Right - that's a bit of bad API work on our side, but it's been like that for ages sadly. :(

[The docs for scramjet.Multistream..map](https://scramjet.org/docs/multi-stream#module_scramjet.MultiStream+map) say that it returns a promise... means that either you should do:

[code]

Or if you want to do something asynchronous:

[code]

This trully despicable behaviour should be made up for in the up

[2021-01-28 11:59] tiswrt commented on #101
It does, thanks a lot!

[2021-01-28 11:59] #101 closed

[2021-01-28 13:04] maxharlow opened #102 "Parsing CSV files of certain arbitrary lengths suddenly stops"
Hi, me again, sorry. I'm seeing a problem where `CSVParse` seems to fail on some CSV files. I've been trying different things to try and work out what the common theme is -- and it appears to be something to do with the length (or size?) of the file.

I've written some example code which replicates the issue:

[code]

I would expect this to just run forever, but actually it stops when `n` reaches

[2021-01-28 14:48] maxharlow commented on #102
Just to add -- when this happens there's no `end` event

[2021-01-29 11:13] MichalCz commented on #102
Ok, this seems a bit odd - seems that CSVParse doesn't work in this scenario, which is very strange.

Initial tests show that this is not caused by `reduce`. I'll keep digging.

[2021-02-01 16:45] MichalCz commented on #102
@maxharlow I'm still looking at this, but I think it may be connected the previous issue you reported...

[2021-02-01 18:02] maxharlow commented on #102
@MichalCz Excellent, thanks for taking a look!

[2021-02-02 22:19] MichalCz commented on #102
Ok, so it seems that anything over 16 items in a single return value to `flatten` which is used by `CSVParse` is actually halting.

I found the issue and a fix, but I need to take a look at the async version of flatten as this doesn't seem to keep order.

[2021-02-02 23:50] MichalCz commented on #102
Ok, seems to work in the latest version, please confirm.

[2021-02-03 09:41] maxharlow commented on #102
Yes, it seems to work -- thanks for the fix!

[2021-02-03 09:41] #102 closed

[2021-03-02 13:59] mathieubergeron opened #103 "StringStream.whenEnd produces UnhandledPromiseRejectionWarning on error"
### Basics
Hi!
I just discovered Scramjet, it looks awesome! I've previously tried highland but ran into some issues regarding how Readable/Writable streams are handled (or had to be handled) on errors - streams were not always closed properly on errors. Moreover, highland seems to be no longer supported. I think Scramjet is a very nice alternative.

So, I'm performing small experiments to underst

[2021-03-02 18:45] MichalCz commented on #103
Hi Mathieu,

Thanks for the extensive report. I will be looking into this over the weekend.

You're probably quite right this happens due to an error in `tee`, but at the same time I'm not sure if this is the best way to achieve what you're trying here...

I'll propose a temporary solution and go after the tee'd error.

Best,
M.

[2021-03-15 13:02] MichalCz commented on #103
Hi, I managed to identify the issue - the `raise` method seems to return `true` which does stop the stream, but in a strange way: by pushing a `true` chunk which in fact does fail. I'm looking into solutions.

[2021-03-15 18:18] MichalCz commented on #103
Ok, so I did find a problem and a solution was found, however it breaks almost all current tests and cannot be supported in the current interface.

Sadly no elegant workaround is available, but this works:

https://github.com/scramjetorg/scramjet-issue-tests/blob/main/103-whenend/index-workaround.js

In April/May we will be starting work on a new API for Scramjet v5 - v4 interface will be supporte

[2021-03-16 14:08] #103 closed

[2021-04-05 18:50] timvol opened #105 "Using scramjet to concate and split data received with socket"
I'm trying to pipe incoming data from a socket to a BufferStream, split it and call a function for each split. But I've no idea how I can implement this using scramjet. What I've is the following:

[code]

But this doesn't work. The first time I recieve data starting with [0x11, 0x22, 0x22, 0x11], I see data on the console. But for all subsequent data I receive, I don't see any output. My messages

[2021-04-09 15:06] MichalCz commented on #105
Hi @timvol,

Thanks for filing the issue. :)

We'll take a look at this during the weekend and come back to you. I don't think that the above case is tested so there might be a problem, so we'll start by implementing tests for the above case.

M.

[2021-04-09 15:08] MichalCz commented on #105
BTW, if that's not a big trouble, can you also post a simple `socat` or `netcat` invocation from bash so we can quickly reproduce your problem?

[2021-04-10 06:19] timvol commented on #105
Thank you @MichalCz, I'll try to provide a simple example next week because I'll have no time this weekend, sorry.
Maybe you already solved the problem I'm facing before I can provide an example :-D

[2021-04-11 18:52] MichalCz commented on #105
Ok, I set up some tests and tried it out, but I don't seem to see the issue...

I'll drill in on this tomorrow or the day after again. :)

[2021-04-12 18:28] timvol commented on #105
I created a very simple Node.js app:

[code]

When I run this application, I see the following output:
[code]

I hope this helps :-)

[2021-04-14 18:31] MichalCz commented on #105
Thanks, will check.

[2021-04-16 15:52] MichalCz commented on #105
Hi @timvol

Instead of `socket.pipe(socket)` I think there should be `socket.end()` - can you check?

[2021-04-16 16:14] timvol commented on #105
When I replace `socket.pipe(socket)` by `socket.end()` it shows me the following:

[code]

In my "real" application I'm just implementing the client-side. It's a p2p network and other client mostly written C/C++, Python or similar. So I don't know the "real" implementation... The Server side in this example is demonstrating purposes. But it shows exactly the issue I'm facing :-(

**BUT!** I commen

[2021-05-03 19:59] nabriski opened #106 "DataStream.toJSONArray causes an exception on empty input"
**Describe the bug**
When calling ```toJSONArray``` on an empty stream, an exception is thrown. I tried it both with an empty array and with a mongo db cursor for a query returning no records.

**To Reproduce**
[code]
Causes:
[code]

**Expected behavior**
The string "[]" should be outputted to stdout

**System:**
 - OS: macOS Catalina 10.15.6
 - Node version: v14.12.0
 - Scramjet Version: 4.35.16

[2021-05-04 19:04] MichalCz commented on #106
Thanks for reporting this. I'll look into this during the weekend.

M.

[2021-05-19 12:15] MichalCz commented on #106
Ok, so an update - bit late, but still.

There was an issue with all tests when one timeout just stopped all subsequent tests and exited the test runner with `exitCode &eq; 0`.

I can confirm the issue and this should be fixed - there's a similar problem in flatMap I already solved, so this should be fairly simple.

[2021-05-19 14:37] MichalCz commented on #106
No probs @nabriski. Can you confirm the fix in `v4.35.17`?

[2021-05-19 14:40] MichalCz commented on #105
Sorry, closed by mistake...

[2021-05-20 07:34] nabriski commented on #106
confirmed, thanks!

[2021-05-20 07:34] #106 closed

[2021-08-29 15:57] MichalCz opened #108 "Fail when plugin adds a new class twice"
**Basics**

[code]

Fails with an error.

[2021-09-26 20:17] f1ames opened #110 "I would like to pin this repository to my GH profile"

[2021-09-26 20:18] f1ames commented on #110
Done 👍

[2021-09-26 20:18] #110 closed

[2021-11-04 13:22] prange opened #111 "Stateful stream transformation"
Hi,

i looked in the docs, but could't find a suitable combinator for stateful stream transformation.

I would like to achieve something like this:
[code]

Is this within reach with the current API?

[2021-11-08 10:17] MichalCz commented on #111
Hi @prange,

You could use `use`:

Docs: **[DataStream..use](https://framework.scramjet.org/docs/data-stream#module_scramjet.DataStream+use)**

[code]

I think you could also try **[DataStream..reduceNow](https://framework.scramjet.org/docs/data-stream#module_scramjet.DataStream+reduceNow)**, but that depends on the use case.

@f1ames @jan-warchol @ErykSol - guys, while working on the new version

[2021-11-08 10:50] jan-warchol commented on #111
@prange Could you provide a specific example? It would make it easier to reason about how this should work.

[2021-11-13 00:56] upsetbit opened #112 "Class 'PromiseTransform' incorrectly implements class 'Readable'"
_Thank you for this great project and for releasing it under an open source license!_

**Describe the bug**
Typescript reports the following typing error when building:

[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Create a new directory, init npm and install basic dependencies
`npm i --save-dev typescript @types/node scramjet`

2. Create a tsc config file
[code]

3. Create a simp

[2021-11-15 15:20] MichalCz commented on #112
Hi @upsetbit,

I'll check it shortly. I had some problems building the code lately so this may be connected.

[2021-11-17 20:21] MichalCz commented on #112
Ok, there is a simple fix - the `Readable` interface has changed. This should be fixed today.

[2021-11-17 20:41] MichalCz commented on #112
Hey @upsetbit - please check if this now works.

Here's the code you proposed as a test - it should be working:
https://github.com/scramjetorg/scramjet/tree/develop/test/ts-test

I published the changes to NPM just now.

[2021-11-18 09:13] MichalCz commented on #105
@timvol can you check with `4.36.1`? This has been just published. I'll be checking this issue again today though.

[2021-11-18 09:15] MichalCz commented on #112
Actually the new version is `4.36.1` and has been published just now. Let me know if this helped.

[2021-11-18 20:44] upsetbit commented on #112
@MichalCz thank you for this quick fix. I've tested `scramjet==4.36.1` alongside `@types/node==16.11.8` and saw no problem.

[2021-11-18 22:03] MichalCz commented on #112
Fantastic. :)

We'll be releasing a new version of Scramjet's core framework with a new engine and two new programming languages early next year so if you like this, I'd recommend subscribing to our repo and perhaps you could also push the star button. :)

But our work here is done. :)

[2021-11-18 22:03] #112 closed

[2021-12-06 13:18] MichalCz commented on #111
I'll close this as a stale issue. @prange if you'd like to follow up - reopen this issue, or perhaps reach out to me and @jan-warchol on [Scramjet's Slack](https://join.slack.com/t/scramjetframework/shared_invite/zt-bb16pluv-XlICrq5Khuhbq5beenP2Fg)

[2021-12-06 13:31] #111 closed

[2022-01-03 09:39] #105 closed

[2022-03-16 13:23] f1ames opened #118 "DataStream.distribute causes ReferenceError when using external function inside"
**Basics**

`DataStream.distribute`

Reported on our Discord channel - https://discord.com/channels/925384545342201896/935178596304191549/953607695779364974.

**Describe the bug**

When trying to use external function in `distribute` method, it causes `ReferenceError`. And this is according to our official example here - https://framework.scramjet.org/docs/multi-threading.

This can be reproduce w

[2022-06-20 07:26] Peterculazh opened #121 "Iterating each chunk with async function with stopping stream"
I want to read each row(chunk) with async function and stop on each chunk and wait for resolving the async function before resume stream, but instead async functions running in parallel, looks like stream is not waiting for resolving the async function.

Reading stream from `fast-csv`
[code]

[2022-06-22 08:05] MichalCz commented on #121
Hi @Peterculazh,

That's indeed how Scramjet works, not only that, but also if you have a number of functions these will run immediately chained when some chunks are resolved.

In order to achieve what you want, you need to inform the framework that you want to run the function one by one like this:

[code]

I would however consider the option to run your ops in a slightly different fashion - spli

[2022-06-22 08:10] MichalCz commented on #118
Sadly this is how the solution works - unless a `cluster.fork` based stream worker is written, this will not be able to run as above. Distribute starts a separate process and that process receives only the body of the given method.

[2022-06-22 08:10] #118 closed

[2022-06-23 10:52] Peterculazh commented on #121
A lot thanks. First example is perfectly run as expected and required. As for parallels, I don't need in my case for parallels due of sensitive data, but I got it, thanks.
As for special method, I think `uniDo` is good

Feel free to close topic, my problem is solved

[2022-08-21 17:53] #92 closed

[2022-09-14 09:41] tomkeee opened #123 "Runner failed error"
Running a sequence, which main file is written in python causes an error `{"message":"Runner failed","exitcode":1}` ( on console.beta.scramjet.cloud platform)

structure
[code]

index.py

[code]

package.json
[code]

`__pypackages__` includes scramjet - [link](https://github.com/scramjetorg/framework-python/tree/b71a117abf5e89a86c8869106a7b65fb4bbade02/scramjet)

[2022-09-14 10:18] Tatarinho commented on #123
@tomkeee When you wants to run Sequence you need to be sure that you defined `run` function, cause our runner is looking for specific named function. So to run this sample, remove unecessary asyncio.run and printf (which will normally run in python shell) and rename simple_stream_example function to run
`async def run(context, input, *args):
   ...
`

[2022-09-14 10:19] Tatarinho commented on #123
@tomkeee you can check a lot of simple python samples [here](https://github.com/scramjetorg/reference-apps/tree/main/python)

[2022-09-14 10:26] Tatarinho commented on #123
@tomkeee and one more thing, you used sample from cloud-docs repository right? This sample shows only framework possibilites, however it can't be used as Sequence sample.

[2022-09-14 10:38] tomkeee commented on #123
@Tatarinho  Thanks a lot!

[2022-09-14 10:38] #123 closed

[2022-09-16 09:13] tomkeee opened #124 "Cannot stop instance"
I have a few instances that failed to start and, as a result, they have a status of ,,Failed to stop" (as shown below).

Is there a way to stop them permanently? I tried using `si inst kill <instance id>` , but it does not work.

![Zrzut ekranu z 2022-09-16 11-10-29](https://user-images.githubusercontent.com/80860556/190601927-42084001-f979-47dc-a05c-9314bf2e8971.png)

[2022-09-16 11:45] alicja-gruzdz commented on #124
Hi @tomkeee :)

thank you for submitting this error. Unfortunately, this issue must be resolved by our backend team. I have already assigned someone to clear the list of your Instances, and furthermore we are working on fixing this issue permanently.

We will let you know as soon as the Instances are cleared and also later when we resolve the issue.

Thank you for reporting once again.

[2022-09-16 11:49] tomkeee opened #125 "'Sequence unpack failed' issue"
I am trying to run a sequence, that includes the files below. Unfortunatelly, whenever i  try to start my sequence (` si seq start <instance id>
`) I get an error `{ message: 'Sequence unpack failed', exitcode: 10 }`

main.py
[code]

package.json
[code]

requirements.txt
`scramjet-framework-py`

[2022-09-16 11:59] alicja-gruzdz commented on #124
The Instances have been cleared, please give it a try.

Unfortunately, you will need to send your Sequences to the SCP once again.

I'm linking here the issue we suspect caused this problem and we are already working on resolving it as soon as possible; https://github.com/scramjetorg/transform-hub/issues/478

[2022-09-16 12:02] tomkeee commented on #124
Now they are cleared. Thanks for help!

[2022-09-16 13:00] tomkeee commented on #125
Hi @daro1337,
I used  `si seq pack <package> ` & `si seq send <package>`

[2022-09-16 13:09] daro1337 commented on #125
@tomkeee  Did you try to pack and send sequence again?
I have successfully run the sequences from code snippet above, but there were some code erros:
[code]

Can you inspect your package.tar.gz  archive?

[issue125.tar.gz](https://github.com/scramjetorg/scramjet/files/9584254/issue125.tar.gz)

[2022-09-19 06:45] tomkeee commented on #125
I have no issues with sending the sequence (it actually works). The problem is that I am not able to run the sequence. It fails at            `si seq start <instance-id>`. I tried to use it on my local machine (code below)

[code]

The result is:
[code]

I am trying to figure out what goes wrong:

1) in reading from file using read_from method - it seems that read_from cannot read the file - but .

[2022-09-20 08:38] tomkeee commented on #125
@daro1337
Same issue occurs even when I try to start sequence with the very basic code provided on your github repo - [link](https://github.com/scramjetorg/reference-apps/tree/main/python/hello) (as shown below)

hello.py
[code]

package.json
[code]

requirements.txt
`scramjet-framework-py`

[2022-09-21 12:42] a-tylenda commented on #125
Hi @tomkeee,
I reproduced your case based on our refapp `hello`. Could you please follow the steps below and let us know if you still get the same error? These steps are exactly what I did and the app worked just fine.

1. clone [reference-apps repo](https://github.com/scramjetorg/reference-apps)
[code]
2. Go to hello dir:
[code]
3. Install requirements:
[code]
after this step you should see `__py

[2022-09-21 13:47] Tatarinho commented on #125
@tomkeee I checked on our platform this simple hello sample, and from my perspective it's working. Can you describe exactly how you running it?

In your sample, don't pack your input file with sequence. You can directly send this file to input of instance with our CLI.
`si inst input <instance_id> <input_file>`. As far as I know, we have some limit for size of sequence itself.
Second thing, you do

[2022-09-26 07:01] tomkeee opened #126 "Instance timeout"
I try to count and return the number of lines in a big .csv file (532 MB) using Scramjet.
Unfortunately, after 25 minutes, the instance stops returning the output.

`main.py`
[code]
I am wondering whether there is an instance's output timeout?

[2022-09-26 07:12] tomkeee opened #127 "Runner failed error"
I was trying to launch a few instances of the same sequence. The first two instances launch successfully, yet when I try to launch the third instance I keep getting the error shown below:
`Error: { message: 'Runner failed', exitcode: 213 }`

[2022-09-26 07:25] #126 closed

[2022-09-26 09:09] daro1337 commented on #127
Hi, @tomkeee, after analyzing the logs, you have exceeded the limit of running instances. By default Beta users can run 5 instances in parallel. Due to your contribution, we will double you this limit to 10 instances :)

[2022-09-26 09:20] #127 closed

[2022-09-26 09:48] tomkeee commented on #127
Thanks a lot !

[2022-09-26 09:48] tomkeee opened #128 "Slow execution time of reading a big file"
I've tested the platform on how fast it would analyze a big .csv file (532MB, 3 235 282 lines). The execution time of the program (code below) is about 25 minutes.

The program should just print the current line with a very simple comment

 **main.py**

[code]

**package.json**
[code]

**requirements.txt**
`scramjet-framework-py`

[2022-09-26 14:22] Tatarinho commented on #128
@tomkeee Print operation in every language is slow, if you want to print every line of big file, you have to keep in mind that will drastically slow down your operation. What is a time of execution (processing full file) without printing?

[2022-09-29 07:21] tomkeee commented on #128
@Tatarinho
You are right that print operations are quite slow, yet I tried to do a similar operation on my local machine (code below) and the execution time was 55 sec (on Scramjet it was 25min).

[code]

![Zrzut ekranu z 2022-09-29 09-20-57](https://user-images.githubusercontent.com/80860556/192966207-41713d84-b0a8-40d7-8955-80f268c56a2e.png)

[2022-09-30 09:56] MichalCz commented on #125
Hi @tomkeee - that's great to hear. I'll pin this thread for reference. :)

[2022-09-30 09:56] #125 closed

[2022-09-30 09:58] MichalCz commented on #128
Hi @tomkeee, we'll be looking into this next week.

[2022-09-30 09:58] #124 closed

[2022-10-03 08:28] MichalCz commented on #128
Hmm... so I did some initial digging and was able to run a test with local network and a similar program in node works quite fast, but not as fast as from the disk...

We need to take into account the network connection, but that wouldn't explain 25 minutes.

Could you follow this guide: https://docs.scramjet.org/platform/self-hosted-installation

Then based on this, can you try your program with

[2022-10-25 08:47] S4adam opened #129 "Drag n drop into 'add sequence' multiple times spams seq list"
https://panel.scp.ovh/space/sequences/add

You can drag n drop sequences over and over again which will spam your sequences list.

![sequencelist](https://user-images.githubusercontent.com/63969229/197727731-983afb46-2b4f-4d42-8054-cfe48c1a4f8a.png)

Maybe display a notification after the first upload if user really wants to send another same one?

[2022-10-25 08:49] S4adam opened #130 "Add sequence's remove button on the list page"
Right now it's only doable on sequence details view.

![sequencelist](https://user-images.githubusercontent.com/63969229/197728455-3f3cabd4-74cb-49fe-a699-0aef1abcc1e6.png)

But I would like to remove them all at once.

[2022-10-25 09:54] a-tylenda commented on #129
👍🏼